<p id="notice"><%= notice %></p>

<h1>Folhas de produtividade</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Foco do dia</th>
      <th scope="col">Prioridade 1</th>
      <th scope="col">Prioridade 2</th>
      <th scope="col">Prioridade 3</th>
      <th scope="col">Prioridade 4</th>
      <th scope="col">Prioridade 5</th>
      <th scope="col">Nota do dia</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productivities.each do |productivity| %>
      <tr>
        <td><%= productivity.day %></td>
        <td><%= productivity.focus %></td>
        <td><%= productivity.prioritie1 %></td>
        <td><%= productivity.prioritie2 %></td>
        <td><%= productivity.prioritie3 %></td>
        <td><%= productivity.prioritie4 %></td>
        <td><%= productivity.prioritie5 %></td>
        <td><%= productivity.note %></td>
        <td><%= link_to 'Show', productivity %></td>
        <td><%= link_to 'Edit', edit_productivity_path(productivity) %></td>
        <td><%= link_to 'Destroy', productivity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar produtividade do dia', new_productivity_path %>
