<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @productivity.day %>
</p>

<p>
  <strong>Focus:</strong>
  <%= @productivity.focus %>
</p>

<p>
  <strong>Prioritie1:</strong>
  <%= @productivity.prioritie1 %>
</p>

<p>
  <strong>Prioritie2:</strong>
  <%= @productivity.prioritie2 %>
</p>

<p>
  <strong>Prioritie3:</strong>
  <%= @productivity.prioritie3 %>
</p>

<p>
  <strong>Prioritie4:</strong>
  <%= @productivity.prioritie4 %>
</p>

<p>
  <strong>Prioritie5:</strong>
  <%= @productivity.prioritie5 %>
</p>

<p>
  <strong>To avoid1:</strong>
  <%= @productivity.to_avoid1 %>
</p>

<p>
  <strong>To avoid2:</strong>
  <%= @productivity.to_avoid2 %>
</p>

<p>
  <strong>To avoid3:</strong>
  <%= @productivity.to_avoid3 %>
</p>

<p>
  <strong>Learn:</strong>
  <%= @productivity.learn %>
</p>

<p>
  <strong>Grateful1:</strong>
  <%= @productivity.grateful1 %>
</p>

<p>
  <strong>Grateful2:</strong>
  <%= @productivity.grateful2 %>
</p>

<p>
  <strong>Grateful3:</strong>
  <%= @productivity.grateful3 %>
</p>

<p>
  <strong>Note:</strong>
  <%= @productivity.note %>
</p>

<%= link_to 'Edit', edit_productivity_path(@productivity) %> |
<%= link_to 'Back', productivities_path %>
